{
  "extends": [
    "vazco"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "indent": [2, 2],
    "object-curly-spacing": [2, "always"],
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2]
  },
  "env": {
    "jest": true
  }
}

